
<h2>Administrator Functions</h2>
<ul>
    <li>@Html.ActionLink("User List", "Index", "Users", null, null)</li>
    <li>@Html.ActionLink("Resource List", "ResourceList", "Admin", null, null)</li>
    <li>@Html.ActionLink("Key Words", "Index", "KeyWord")</li>
    <li>@Html.ActionLink("Resource Types", "ResourceTypes", "Admin")</li>
    <li>@Html.ActionLink("Reports", "Reports", "Admin")</li>
    <li>@Html.ActionLink("Compose Message(s)", "SendMessage", "UserMessages")</li>
</ul>

